.addressBook {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.remove {
  --color-brand: var(--color-accent);
  margin-left: 0;
}

.item {
  align-items: center;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

@media (min-width: 350px) {
  .item {
    flex-direction: row;
  }

  .remove {
    margin-left: auto;
  }
}

.item address {
  font-size: 0.85em;
}

.item h3 {
  margin: 0 0 0.5em;
}
